<html>
  <head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:image" content="{{image_path}}adventure-prov_profile_pic.jpg" />
    <meta property="og:title" content="Adventure-prov" />
    <meta property="og:description" content="An improvised show that lets you decide the action with mobile voting!" />
    <link rel="image_src" href="{{image_path}}adventure-prov_profile_pic.jpg" />
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link href="{{css_path}}bootstrap.min.css" rel="stylesheet" media="screen">
  	<link rel="stylesheet" type="text/css" href="{{css_path}}base.css">
  	
  	<script src="{{js_path}}jquery-1.11.0.min.js"></script>
  	<script src="{{js_path}}bootstrap.min.js"></script>
  	<script>
        $( document ).ready(function() {
            $('#Logout').click(function() {
                FB.logout(function () { document.location.reload(); });
                $.ajax({ 
                    url: '/session_logout/',
                    data: {"logout": true},
                    type: 'post',
                    async: false,
                    success: function(result){}
                });
            });
  	    });
    </script>
  	
  	{% block add_head %}{% endblock %}
  	<title>{% block title %}Adventure-prov{% endblock %}</title>
  	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
  </head>

  <body>
    {% include "facebook_sdk.html" %}
  	{% block nav_bar %}
		<nav id="top-nav-bar" class="navbar navbar-inverse" role="navigation">
			<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Adventure-prov</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav">
					<li {% block home-selected %}{% endblock %}><a href="/">Home</a></li>
					{% if show_today %}{% if is_admin %}<li><a href="/show/{{current_show.key.id}}/"><strong>Show Admin</strong></a></li>{% else %}<li {% block live-vote-selected %}{% endblock %}><a href="/live_vote/"><strong>Live Vote!</strong></a></li>{% endif %}{% endif %}
                    {% if show_today %}					
                        <li class="dropdown{% block suggestions-selected %}{% endblock %}">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Suggestions <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% for pool in current_suggestion_pools %}
                                    <li><a href="/suggestions/{{pool.name}}/"><strong>{{pool.display_name}}</strong> Add/Vote</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                    <li class="dropdown{% block leaderboards-selected %}{% endblock %}">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Leaderboards <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/leaderboards/"><strong>All-time Leaderboard</strong></a></li>
                            <li><a href="/medals/"><strong>Medals</strong></a></li>
                        </ul>
                    </li>
    				{% if username %}
    				    <li {% block user-account-selected %}{% endblock %}><a href="/user/{{user.user_id}}/">My Account</a></li>
    				{% endif %}
					{% if is_admin %}
						<li class="dropdown{% block admin-selected %}{% endblock %}">
    						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
      							Admin <span class="caret"></span>
    						</a>
    						<ul class="dropdown-menu">
    							<li {% block create-selected %}{% endblock %}><a href="/create_show/">Create Show</a></li>
    							<li {% block vote-type-selected %}{% endblock %}><a href="/vote_types/">Add/Delete Vote Types</a></li>
    							<li {% block suggestion-pool-selected %}{% endblock %}><a href="/suggestion_pools/">Add/Delete Suggestion Pools</a></li>
    							<li {% block create-medals-selected %}{% endblock %}><a href="/create_medals/">Add/Delete Medals</a></li>
								<li {% block add-player-selected %}{% endblock %}><a href="/add_players/">Add Players</a></li>
								<li {% block delete-tools-selected %}{% endblock %}><a href="/delete_tools/">Delete Tools</a></li>
								<li {% block interval-timer-selected %}{% endblock %}><a href="/interval_timer/">Interval Timer</a></li>
								<li {% block test-js-selected %}{% endblock %}><a href="/js_test/">Test JS</a></li>
								<li {% block export-emails-selected %}{% endblock %}><a href="/export_emails/">Export e-mails</a></li>
    						</ul>
  						</li>
					{% endif %}
				  </ul>
				  <ul class="nav navbar-nav navbar-right">
				    {% if auth_action == 'Login' %}
				        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Login <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#" onclick="facebook_login();"><div class="facebook-icon-small pull-left"></div>&nbsp;<strong>Login with Facebook</strong></a></li>
                                <li><a id="{{auth_action}}" href="{{auth_url}}"><div class="google-icon-small pull-left"></div>&nbsp;<strong>Login with Google</strong></a></li>
                            </ul>
                        </li>
                    {% else %}
					    <li><a id="{{auth_action}}" href="{{auth_url}}">{{auth_action}}</a></li>
					{% endif %}
				  </ul>
				  {% if username %}
				    <p class="navbar-text navbar-right">{{username}}</p>
				  {% endif %}
				</div>
			</div>
		</nav>
	{% endblock %}

    {% block content %}{% endblock %}
  </body>
</html>
