{% extends "base.html" %}

{% block leaderboards-selected %} active{% endblock %}

{% block add_head %}
<script>
$( document ).ready(function() {
    document.getElementById("show").onchange = function() {
        if (this.selectedIndex!==0) {
            window.location.href = this.value;
        }        
    };
});
</script>
{% endblock %}

{% block content %}
	<div class="container-fluid">
	    <form class="form-inline" role="form" action="/leaderboards/show/{{show_id}}/" method="post">
            <div class="form-group">
                <label for="show">Show Leaderboards</label>
	            <select id="show" class="form-control">
	                <option value="">Select Show</option>
                    {% for leaderboard_span in leaderboard_spans %}
                        <option value="/leaderboards/{{leaderboard_span.start_date|date:"mdY"}}/{{leaderboard_span.end_date|date:"mdY"}}/"
                            >{{leaderboard_span.name}}</option>
                    {% endfor %}
	                {% for show in shows %}
                        <option value="/leaderboards/show/{{show.key.id}}/" {% if show_id == show.key.id %}selected{% endif %}>{{show.created|date:"l N jS, Y"}}</option>
                    {% endfor %}
                </select>
            </div>
            &nbsp;
            <div class="form-group">
                <a class-"text-center" href="/leaderboards/">
					<div class="btn btn-primary btn-block btn-lg home-show-btn">&nbsp;All-time Leaderboards&nbsp;</div>
				</a>
            </div>
            {% if show_id %}
                &nbsp;
                <div class="form-group">
                    <a class-"text-center" href="/recap/{{show_id}}/">
                        <div class="btn btn-info btn-block btn-lg home-show-btn">&nbsp;Show Recap&nbsp;</div>
                    </a>
                </div>
            {% endif %}
            {% if show_id and is_admin and not medals_exist %}
                &nbsp;
                <div class="form-group">
                    <input type="hidden" name="award_medals" value="True">
				    <input type="submit" class="btn btn-warning btn-block btn-lg x-large-font" value="&nbsp;Award Medals&nbsp;">
                </div>
            {% endif %}
        </form>
        <div class="table-responsive">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Username</th>
                        <th>Suggestions</th>
                        <th>Points</th>
                        <th>Winning Suggestions</th>
                        <th>Medals</th>
                        {% if not show_id %}
                            <th>Level</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for entry in leaderboard_entries %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td><a class="white-link" href="/user/{{entry.user_id}}/">{{entry.username}}</a></td>
                            <td>{{entry.suggestions}}</td>
                            <td>{{entry.points}}</td>
                            <td>{{entry.wins}}</td>
                            {% if show_id %}
                                <td>
                                {% for medal in entry.medals %}
                                    <a href="/medals/#{{medal.get.name}}"><div class="{{medal.get.name}}-medal pull-left"></div></a>
                                    {% if entry.user_id == user.user_id %}
                                        <img class="facebook-share pull-left" src="{{image_path}}facebook_share.png" onClick="medal_share('http://{{host_domain}}{{path_qs}}', 'http://{{host_domain}}{{image_path}}medals/{{medal.get.name}}.png', 'Adventure-prov {{medal.get.display_name}} Medal', 'For winning the {{medal.get.display_name}} medal at Adventure-prov!', '{{medal.get.description}}')"/>
                                    {% endif %}
                                {% endfor %}
                                </td>
                            {% else %}
                                <td>{{entry.medals|length}}</td>
                            {% endif %}
                            {% if not show_id %}
                                <td>
                                    {% if entry.user_id == user.user_id %}
                                        <img class="facebook-share" src="{{image_path}}facebook_share.png" onClick="medal_share('http://{{host_domain}}{{path_qs}}', 'http://{{host_domain}}{{image_path}}medals/rank.png', 'Adventure-prov Level {{entry.level}} Medal', 'For reaching Level {{entry.level}} in Adventure-prov!', 'The current point level you have reached, based on how many votes you have received.')"/>
                                    {% endif %}
                                    <a href="/medals/#level-medal"><div class="level-medal pull-left"><div class="level-number">{{entry.level}}</div></div></a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
	</div>
{% endblock %}