function getURLPathArgByPosition(position) {
    // Default to getting the userID from the url
    var pathArray = window.location.pathname.split( '/' );
    return pathArray[position];
}

function getUserFromPropsOrURL(props, position){
    // Get the user id, default from url path
    var userID;
    if (props.userID) {
        userID = props.userID;
    } else {
        userID = getURLPathArgByPosition(position);
    }
    return userID;
}

function getURLParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}

var Panel = React.createClass({
  render: function() {
    var cx = React.addons.classSet;
    var panelWidth = "col-md-"+this.props.panelWidth;
    var panelOffset = "col-md-offset-"+this.props.panelOffset;
    var colClasses = cx('col', panelWidth, panelOffset);
    var panelC = "panel";
    var panelColor = "panel-"+ this.props.panelColor;
    var panelClasses = cx('panel', panelC, panelColor);
    return (
      <div className="row">
        <div className={colClasses}>
          <div className={panelClasses}>
              <PanelHeader panelHeadingClasses={this.props.panelHeadingClasses}
                           panelHeadingContent={this.props.panelHeadingContent} />
              <PanelBody panelBodyClasses={this.props.panelBodyClasses}
                         tableClasses={this.props.tableClasses}
                         contentType={this.props.contentType}
                         showStats={this.props.showStats}
                         userID={this.props.userID} />
          </div>
        </div>
      </div>
    );
  }
});

var PanelHeader = React.createClass({
  render: function() {
    var cx = React.addons.classSet;
    var ppanelHeadingClasses = this.props.panelHeadingClasses;
    var panelHeading = "panel-heading";
    var panelHeaderClasses = cx('panel-header', panelHeading, ppanelHeadingClasses);
    return (
      <div className={panelHeaderClasses}>{this.props.panelHeadingContent}</div>
    );
  }
});

var PanelBody = React.createClass({
  render: function() {
    var cx = React.addons.classSet;
    var ppanelBodyClasses = this.props.panelBodyClasses;
    var panelBody = "panel-body";
    var panelBodyClasses = cx('panel-body', panelBody, ppanelBodyClasses);
    // Decide what content to show in the panel body
    var bodyContent;
    if (this.props.contentType == "user-stats-table") {
        bodyContent = <Table tableClasses={this.props.tableClasses}
                             contentType={this.props.contentType} />;
    } else if (this.props.contentType == "user-show-stats") {
        bodyContent = <UserShowStatsPanelBody showStats={this.props.showStats}
                                              userID={this.props.userID} />;
    }
    return (
      <div className={panelBodyClasses}>
        {bodyContent}
      </div>
    );
  }
});

var Table = React.createClass({
  render: function() {
    var cx = React.addons.classSet;
    var ptableClasses = this.props.tableClasses;
    var table = "table";
    var tableClasses = cx('table', table, ptableClasses);
    // Decide what table to show
    var tableContents = [];
    if (this.props.contentType == "user-stats-table") {
        tableContents.push(<UserStatsTableBody userStatsColumnColor={this.props.userStatsColumnColor} />);
    } else if (this.props.contentType == "user-show-stats-table") {
        tableContents.push(<thead><tr><th>Suggestions ({this.props.showStats.wins} Wins, {this.props.showStats.suggestions} Submitted):</th></tr></thead>);
        tableContents.push(<UserShowStatsTableBody userID={this.props.userID}
                                                   showID={this.props.showID} />);
    }
    return (
      <table className={tableClasses}>
        {tableContents}
      </table>
    );
  }
});

var Medal = React.createClass({
  getInitialState: function() {
    return {data: []};
  },
  componentDidMount: function() {
    // Get the medal data for the given key
    var medalUrl = "/api/v1/medal/" + this.props.medalKey + "/";
    $.ajax({
      url: medalUrl,
      dataType: 'json',
      success: function(data) {
        this.setState({data: data});
      }.bind(this),
      error: function(xhr, status, err) {
        console.error(this.props.url, status, err.toString());
      }.bind(this)
    });
  },
  render: function() {
    // Create the medal URL
    var medalURL = "/medals/#" + this.state.data.name;
    // Create the medal classes
    var cx = React.addons.classSet;
    var medalClass = this.state.data.name + "-medal";
    var medalClasses = cx('medal', medalClass, "pull-left");
    return (
      <a href={medalURL}><div className={medalClasses}></div></a>
    );
  }
});

var LevelMedal = React.createClass({
  render: function() {
    return (
      <a href="/medals/#level-medal"><div className="level-medal"><div className="level-number">{this.props.medalLevel}</div></div></a>
    );
  }
});

var MedalRows = React.createClass({
  render: function() {
    var arrayLength = this.props.medals.length;
    var rowList = [];
    var medalList = [];
    // Go through all the medal keys
    for (var i = 0; i < arrayLength; i++) {
        var medalKey = this.props.medals[i];
        medalList.push(<Medal medalKey={medalKey} />);
        var currentNum = i+1;
        // Push the row and reset the current medal list every 3 medals
        if (currentNum % 3 == 0) {
            rowList.push(<div className="row">{medalList}</div>);
            medalList = [];
        }
    }
    // If there are any remaining medals, form a remainder row
    if (medalList) {
        rowList.push(<div className="row">{medalList}</div>);
    }
    return (
        <div>{rowList}</div>
    );
  }
});

var UserStatsTableBody = React.createClass({
  getInitialState: function() {
    return {data: []};
  },
  componentDidMount: function() {
    var userID = getUserFromPropsOrURL(this.props, 2);
    // Get the leaderboard stats for the user
    var leaderboardStatsUrl = "/api/v1/leaderboards/user/" + userID + "/";
    $.ajax({
      url: leaderboardStatsUrl,
      dataType: 'json',
      success: function(data) {
        this.setState({data: data});
      }.bind(this),
      error: function(xhr, status, err) {
        console.error(this.props.url, status, err.toString());
      }.bind(this)
    });
  },
  render: function() {
    var userID = getUserFromPropsOrURL(this.props, 2);
    // Decide the stat column color
    var columnColor;
    if (this.props.userStatsColumnColor) {
        columnColor = this.props.userStatsColumnColor;
    } else {
        columnColor = "warning";
    }
    // Define classes
    var cx = React.addons.classSet;
    var tdClasses = cx('table-column', columnColor);
    if (!this.state.data){
        return (<tbody></tbody>);
    }
    // Create the user stats
    var statsElement = this.state.data.map(function (userStats) {
      var statsList = [];
      var medalShare;
      if ({{user_profile.user_id}} == userStats.UserID) {
        medalShare = <img className="facebook-share" src="http://localhost:8080{{image_path}}facebook_share.png" />;
      }
      statsList.push(<tr><td className={tdClasses}>Username: {userStats.Username}</td></tr>);
      statsList.push(<tr><td className={tdClasses}>Suggestions: {userStats.Suggestions}</td></tr>);
      statsList.push(<tr><td className={tdClasses}>Suggestion Wins: {userStats.Wins}</td></tr>);
      statsList.push(<tr><td className={tdClasses}>Points: {userStats.Points}</td></tr>);
      statsList.push(<tr><td>
                        Point Level:
                        <LevelMedal medalLevel={userStats.Level} />
                        {medalShare}
                     </td></tr>);
      statsList.push(<tr><td>
                        Medals:<br/>
                        <MedalRows medals={userStats.Medals} />
                     </td></tr>);

      return statsList;
    });
    return (
      <tbody>
        {statsElement}
      </tbody>
    );
  }
});

var UserShowStats = React.createClass({
  getInitialState: function() {
    return {data: []};
  },
  componentDidMount: function() {
    var userID = getUserFromPropsOrURL(this.props, 2);
    // Get the leaderboard stats for the user
    var leaderboardStatsUrl = "/api/v1/show/" + this.props.showStats.show + "/";
    $.ajax({
      url: leaderboardStatsUrl,
      dataType: 'json',
      success: function(data) {
        this.setState({data: data});
      }.bind(this),
      error: function(xhr, status, err) {
        console.error(this.props.url, status, err.toString());
      }.bind(this)
    });
  },
  render: function() {
    var userID = getUserFromPropsOrURL(this.props, 2);
    var showDate = new Date(this.state.data.created);
    var showDateFormatted = showDate.toString("ddd MMM. d, yyyy")
    return (
      <Panel panelWidth="6" panelOffset="3" panelColor="primary"
             panelHeadingContent={showDateFormatted} panelHeadingClasses="x-large-font"
             panelBodyClasses="large-font black-font"
             tableClasses="table-condensed black-font"
             contentType="user-show-stats"
             showStats={this.props.showStats}
             userID={userID}/>
    );
  }
});

var UserShowStatsPanelBody = React.createClass({
  getInitialState: function() {
    return {data: null};
  },
  componentDidMount: function() {
    // Get the show
    var showUrl = "/api/v1/show/" + this.props.showStats.show + "/";
    $.ajax({
      url: showUrl,
      dataType: 'json',
      success: function(data) {
        this.setState({data: data});
      }.bind(this),
      error: function(xhr, status, err) {
        console.error(this.props.url, status, err.toString());
      }.bind(this)
    });
  },
  render: function() {
    var statElements = [];
    // Create the user show stats (make sure the state is loaded first)
    if (this.props.showStats && this.state.data !== null) {
        var showID = this.state.data.id;
        var showLink = "/leaderboards/show/" + showID + "/";
        var recapLink = "/recap/" + this.state.data.id + "/";
        statElements.push(<div className="row"><div className="col-md-12">Points Earned: {this.props.showStats.points}</div></div>);
        statElements.push(<div className="row"><div className="col-md-12"><a href={showLink}>Show Leaderboard</a></div></div>);
        statElements.push(<div className="row"><div className="col-md-12"><a href={recapLink}>Show Recap</a></div></div>);
        statElements.push(<Table tableClasses="table-condensed black-font"
                                 contentType="user-show-stats-table"
                                 userID={this.props.userID}
                                 showID={showID}
                                 showStats={this.props.showStats} />);
        statElements.push(<div className="row"><div className="col-md-12"><img src="/static/img/star-sprite.png" /> = winning suggestion</div></div>);
    }

    return (
        <div>{statElements}</div>
    );
  }
});

var UserShowStatsTableBody = React.createClass({
  getInitialState: function() {
    return {data: []};
  },
  componentDidMount: function() {
    // Get the suggestions for the user
    var userSuggestionsUrl = "/api/v1/suggestions/?user_id=" + this.props.userID + "&show=" + this.props.showID;
    $.ajax({
      url: userSuggestionsUrl,
      dataType: 'json',
      success: function(data) {
        this.setState({data: data});
      }.bind(this),
      error: function(xhr, status, err) {
        console.error(this.props.url, status, err.toString());
      }.bind(this)
    });
  },
  render: function() {
    var showID = this.props.showID;
    var suggestionList = [];
    // Create the suggestion list
    this.state.data.map(function (suggestion) {
      var suggestionClass, starIMG, suggestionDisplay;
      // Used a different class if the suggestion won
      if (suggestion.used) {
          suggestionClass = "success";
          starIMG =  <img src="{{image_path}}star-sprite.png" />;
      } else {
          suggestionClass = "active";
      }
      // If the suggestion was voted on during the show
      if (suggestion.voted_on === true) {
          suggestionDisplay = <a href={suggestionUrl}>{suggestion.value}{starIMG}</a>;
      } else {
          suggestionDisplay = suggestion.value;
      }
      var suggestionUrl = "/recap/" + showID + "/#" + suggestion.id;
      suggestionList.push(<tr><td className={suggestionClass}>{suggestionDisplay}</td></tr>);
      return suggestionList;
    });
    return (
        <tbody>{suggestionList}</tbody>
    );
  }
});

var UserStats = React.createClass({
  getInitialState: function() {
    return {data: []};
  },
  componentDidMount: function() {
    var userID = getUserFromPropsOrURL(this.props, 2);
    // Get the leaderboard stats for the user
    var leaderboardStatsUrl = "/api/v1/leaderboard_entries/?user_id=" + userID + "&order_by_show_date=True";
    $.ajax({
      url: leaderboardStatsUrl,
      dataType: 'json',
      success: function(data) {
        this.setState({data: data});
      }.bind(this),
      error: function(xhr, status, err) {
        console.error(this.props.url, status, err.toString());
      }.bind(this)
    });
  },
  render: function() {
    var userID = getUserFromPropsOrURL(this.props, 2);
    var showList;
    if (this.state.data){
        var showList = [];
        // Create the user stats
        this.state.data.map(function (showStats) {
          showList.push(<UserShowStats showStats={showStats} />);
          return showList;
        });
    }
    return (
      <div>
      <Panel panelWidth="6" panelOffset="3" panelColor="danger"
             panelHeadingContent="User Account" panelHeadingClasses="x-large-font"
             panelBodyClasses="large-font black-font"
             tableClasses="table-condensed black-font"
             contentType="user-stats-table"
             userID={userID} />
      {showList}</div>
    );
  }
});

var ShowDisplay = React.createClass({
  getInitialState: function() {
    // Hide the nav bar
	$("#top-nav-bar").hide();
    return {data: []};
  },
  loadShowData: function() {
    var showID = getURLPathArgByPosition(3);
    var showURL = "/api/v1/show/" + showID + "/";
    $.ajax({
      url: showURL,
      dataType: 'json',
      success: function(data) {
        this.setState({data: data});
      }.bind(this),
      error: function(xhr, status, err) {
        console.error(this.props.url, status, err.toString());
      }.bind(this)
    });
  },
  componentDidMount: function() {
    this.loadShowData();
    setInterval(this.loadShowData, this.props.pollInterval);
  },
  render: function() {
    var showID = getURLPathArgByPosition(3);
    var state;
    state = getURLParameterByName("state") || undefined;
    // Make sure the current state exists
    if (this.state.data && this.state.data.current_state !== undefined || state !== undefined){
        if (state == undefined) {
            state = this.state.data.current_state['state'];
        }
        var showStateDisplay;
        // Create the user stats
        if (state == "default") {
            showStateDisplay = <ShowDefaultDisplay showData={this.state.data} />;
        } else if (state == "all-players") {

        } else if (state == "player-pool") {

        } else if (state == "player-options") {
            showStateDisplay = <ShowPlayerOptionsDisplay showData={this.state.data} />;
        } else if (state == "options" || state == "test") {

        }
    }
    return (
        <div>
            <div className="row">
                <div className="col-sm-11">
                    <h3 className="text-center background-blue">
                        <a href="/" className="white-link">Host Domain</a>
                    </h3>
                </div>
            </div>
            {showStateDisplay}
        </div>
    );
  }
});

var ShowDefaultDisplay = React.createClass({
  render: function() {
    if (this.props.showData) {
        var leaderboardURL = "/leaderboards/show/" + this.props.showData.id + "/";
        // Create the intervals remaining buttons
        var remainingVoteTypes = [];
        this.props.showData.vote_types.map(function (voteType) {
            remainingVoteTypes.push(<RemainingIntervalsButton voteType={voteType} />);
            remainingVoteTypes.push(<br/>);
            return remainingVoteTypes;
        });
        return (
            <div className="col-md-5 col-md-offset-3">
                <a className="text-center" href={leaderboardURL}>
                    <div className="btn btn-default btn-block btn-lg home-show-btn">Leaderboard</div>
                </a>
                <br/>
                <div className="row">
                    <div className="col-md-8 col-md-offset-2">
                        <img src="{{image_path}}adventure-prov-logo-large.png" className="img-responsive img-thumbnail" />
                    </div>
                </div>
                {remainingVoteTypes}
            </div>
        );
    } else {
        return (<div></div>);
    }
  }
});

var ShowPlayerOptionsDisplay = React.createClass({
  render: function() {
    return (<div>Player-Options</div>);
  }
});

var RemainingIntervalsButton = React.createClass({
  getInitialState: function() {
    return {data: []};
  },
  componentDidMount: function() {
    // Get the vote type data
    var voteTypeUrl = "/api/v1/vote_type/" + this.props.voteType + "/";
    $.ajax({
      url: voteTypeUrl,
      dataType: 'json',
      success: function(data) {
        this.setState({data: data});
      }.bind(this),
      error: function(xhr, status, err) {
        console.error(this.props.url, status, err.toString());
      }.bind(this)
    });
  },
  render: function() {
    // Make sure the current state exists and is not a "test"
    if (this.state.data && this.state.data.name != "test") {
        var buttonStyle = {backgroundColor: this.state.data.button_color};
        return (
            <button className="btn btn-block btn-lg white-input x-large-font" style={buttonStyle}>{this.state.data.display_name} Remaining: {this.state.data.remaining_intervals}</button>
        );
    } else {
        return (<div></div>);
    }
  }
});
