{% extends "base.html" %}

{% block recap-selected %} active{% endblock %}

{% block content %}
	<div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
               <div class="btn-group" style="width: 100%">
                  <button class="btn btn-primary btn-block btn-lg dropdown-toggle xx-large-font" data-toggle="dropdown" aria-expanded="false">
                    {% if show_date %}{{show_date|date:"l N jS, Y"}}{% else %}Select Show{% endif %} <span class="caret "></span>
                  </button>
                  <ul class="dropdown-menu text-center x-large-font" role="menu" style="width: 100%">
                    {% for show in shows %}
                        <li {% if show_id == show.key.id %}class="disabled"{% endif %}><a href="/recap/{{show.key.id}}/">{{show.created|date:"l N jS, Y"}}</a></li>
                    {% endfor %}
                  </ul>
               </div>
                {% if show_id %}
                    &nbsp;
                        <a class="text-center" href="/leaderboards/show/{{show_id}}/">
                            <div class="btn btn-danger btn-block btn-lg home-show-btn">&nbsp;View Show Leaderboard&nbsp;</div>
                        </a>
                    <br/>
                    {% for vote_panel in show_recap %}
                        {% if vote_panel.vote_type and vote_panel.vote_type != "Test" %}
                            <div class="panel panel-danger">
                                <div class="panel-heading x-large-font">{{vote_panel.vote_type}}</div>
                                {% if vote_panel.player %}
                                    <div class="panel-body">
                                        <div class="text-center recap-adjusted-img">
                                            <img src="{{player_image_path}}{{vote_panel.player.get.photo_filename}}" class="img-responsive img-thumbnail" />
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="panel-footer black-background">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            {% for suggestion in vote_panel.option_list %}
                                                {% if suggestion.get.value %}
                                                    <div id="{{suggestion.id}}" class="btn {% if suggestion == vote_panel.winning_suggestion %}btn-info{% else %}btn-primary{% endif %} btn-block large-font vote-option">
                                                        {{forloop.counter}}. {{suggestion.get.value}}{% if suggestion == vote_panel.winning_suggestion %}<img src="/static/img/star-sprite.png" />{% endif %}
                                                        <br/>
                                                        Submitted by: {% if suggestion.get.username %}<a href="/user/{{suggestion.get.user_id}}/" class="recap-user-link">{{suggestion.get.username}}</a>{% else %}Anonymous{% endif %}
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}