<div class="container-fluid">
	
	<div id="default-screen">
		<div class="row">
			<div class="col-sm-11">
				<h3 class="text-center" style="background-color:#003D7A;">
					<a href="/" class="white-link">{{host_domain}}</a>{% if show.theme %} - Tonight's Theme: {{show.theme.get.name}}{% endif %}
				</h3>
			</div>
		</div>
    </div>
    
	<div id="current-vote"></div>
	
	{% if show.is_today %}
		<div id="vote-selection-screen" class="col-md-5 col-md-offset-3">
			<a class-"text-center" href="/leaderboards/show/{{current_show.key.id}}/">
                <div class="btn btn-default btn-block btn-lg home-show-btn">Leaderboard</div>
            </a>
            <br/>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <img id="flip" src="{{image_path}}adventure-prov-logo-large.png" class="img-responsive img-thumbnail" />
                </div>
            </div>
			{% for vote_type in show.vote_types %}
				{% if vote_type.get.has_intervals %}
					<br/><button class="btn btn-block btn-lg white-input x-large-font" style="background-color:{{vote_type.get.button_color}};">{{vote_type.get.display_name}} Remaining: <span id="remaining-{{vote_type.get.name}}">{{vote_type.get.remaining_intervals}}</span></span></button>
				{% endif %}
			{% endfor %}
		</div>
	{% endif %}
</div>