{% extends "base.html" %}

{% block title %}Adventure-prov {% if debug %}dev{% endif %} {{user_profile.username_email_strip}}'s Page{% endblock %}

{% block user-account-selected %}class="active"{% endblock %}

{% block content %}
	<div id="container-fluid" class="container-fluid"></div>
    <script type="text/jsx">
	      {% include "react_components.html" %}
          React.render(
            <UserStats />,
            document.getElementById('container-fluid')
          );
    </script>
{% endblock %}